:local(.card) {
    width: 28rem;
    justify-content: center;
    align-items: center;
    align-content: center;
  }
  :local(body) {
    background-color: #1b3c69;
    align-items: center;
    justify-content: center;
    align-content: center;
    padding-top: 65px;
  }
  :local(.navbar){
      background-color: aliceblue;
  }
  :local(.uicontainer){
    /* display: flex;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;  */
  }