:local(.card) {
    width: 18rem;
    justify-content: center;
    align-items: center;
    align-content: center;
  }
  :local(.uicontainer) {
    background-color: #1b3c69;
    align-items: center;
    justify-content: center;
    align-content: center;
  }