@import url('https://fonts.googleapis.com/css?family=Lato:400,700');
@import url('https://fonts.googleapis.com/css?family=Oswald:400,700');
.header {
    height: 500px;
    background-size: cover;
    background-position: center;
    position: relative;
  }
  
  .header::after {
    content: "";
    display: block;
    opacity: .4;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: black;
  }
  
  .header * {
    position: relative;
    z-index: 2;
  }
  
  .header h1 {
    color: white;
    font-family: Oswald, cursive;
    font-size: 60px;
    text-transform: uppercase;
    padding-bottom: 2rem;
    padding-top: 200px;
    margin-top: 0;
  text-shadow: -1px white, 0 1px white, 1px 0 white, 0 -1px white;
    text-transform: uppercase;
      padding-bottom: 2rem;
      text-shadow: 0 0 6px white; /* horizontal-offset vertical-offset 'blur' colour */
    -moz-text-shadow: 0 0 6px white;
    -webkit-text-shadow: 0 0 6px white;
  }
  /*============= MEDIA QUERIES =============*/

/* Medium (md) devices (tablets, 768px and under) */

@media (max-width: 768px) {
	.caption {
		top: 35%;
	}
	.caption h3 {
		font-size: 1.8rem;
		padding-bottom: 1.2rem;
	}
}