@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');

.how {
    width: 100%;
    height: auto;
    margin: 10px 10px 10px 10px;
float: left;
padding-bottom: 10px;
align-content: space-around;
    text-align: center;
    font-family: Lato, cursive;
    font-weight: bold;
}
.h3 {
    padding: 10px 0px 0px 10px;
    font-size: 30px;
    font-family: 'Oswald', sans-serif !important;
    font-weight: bold;
    text-align: center;
}