@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

.footer {
    float: left;
    width: 100%;
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    padding: 10px;
    position: fixed-bottom;
    background-color: rgb(3, 18, 37);
    font-family: Lato, cursive;
  }
.card-footer {
    background-color: rgba(255, 255, 255, 0.288);
}
   a {
    color: white !important;
    cursor: pointer;
  }
  a:hover {
    color: rgb(22, 69, 129)!important;
    cursor: pointer;
  }  
    .social {
        width: 980px;
        text-align: center;
        padding: 5px;
        justify-content: center;
        letter-spacing: 10px;
        cursor: pointer;
    }
   
    .copyright {
        text-align: center;
        padding-top: 7px;
        color: #fff;
        text-transform: uppercase;
        width: 980px;
       
    }

    ul {
        list-style-type: none;
      }
     
.footerleft {
    width: 49%;
    Float: left;
    display:inline;
    text-align: center;
}

.footerright {
    width: 49%;
    Float: right;
    display:inline;
    text-align: center;
}
.topofpage {
    float:right;
}
/*============= MEDIA QUERIES =============*/

/* Medium (md) devices (tablets, 768px and under) */

@media (max-width: 768px) {
	.caption {
		top: 35%;
    }
    .copyright {
        width: 400px;
    }
    .social {
        width: 500px;
    }
	.caption h3 {
		font-size: 1.8rem;
		padding-bottom: 1.2rem;
	}
}